---
import Layout from "../layouts/Layout.astro";
import Card from '../components/Card.astro';
import {db, User, Todo, eq, Category} from "astro:db";
import { getSession } from 'auth-astro/server';
const users = await db.select().from(User);
console.log(User)
const tods = await db 
    .select()
    .from(Todo)
    .innerJoin(User, eq(Todo.user_id, User.id))
    .innerJoin(Category, eq(Todo.category_id, Category.id))
const session = await getSession(Astro.request);
console.log(session) 
---

<Layout title="Home 2">
    <main>
        <h1>que pasa hermano que quieres?</h1>
        
        {session &&(
            <>
        {users.map((user) => (<li>{user.username}</li>))}
        </>
    )}
    {
        tods.map(Todo =>(
            <li>
            {`titulo:${Todo.Todo.title}, categoria:${Todo.Category.label},creador:${Todo.User.username}`}
        </li>
            ))
        },
    
    </main>
</Layout>
<style>
    main{
        color: white;
    }
</style>