---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Home2">
  <header class="header">
      <h1>SuperEntreteiment</h1>
      <ul>
          <li><button id="button4">inicio</button></li>
          <li><button id="button3">Empresa</button></li>
          <li><button id="button2">registrar</button></li>
          <li><button id="button">inicio sesión</button></li>
      </ul>
  </header>
  <main>
      <h1>¿quienes somos nostros?</h1>
      <p>nosotros somos una empresa de entretension para la una gran mayoria de personas que pueden </p>
  </main>
</Layout>
<script>
  const button4 = document.querySelector("#button4");
  const button2 = document.querySelector("#button2");
  const button3 = document.querySelector("#button3");
  const button = document.querySelector("#button");
  button?.addEventListener("click", async function () {
      // Redireccionar a otro índice (por ejemplo, index.html)
      window.location.href = "/";
  });
  button2?.addEventListener("click", async function () {
      // Redireccionar a otro índice (por ejemplo, index.html)
      window.location.href = "/datos";
  });
  button3?.addEventListener("click", async function () {
      // Redireccionar a otro índice (por ejemplo, index.html)
      window.location.href = "/home";
  });
  button4?.addEventListener("click", async function () {
      // Redireccionar a otro índice (por ejemplo, index.html)
      window.location.href = "/";
  });
</script>
<style>
  body {
      margin: 0;
      font-family: Arial, sans-serif;
  }
  .header {
      background-color: #272626;
      color: #fdfbfb;
      padding: 10px 20px;
      position: fixed;
      top: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 1000; /* Asegura que el header esté por encima de todo */
  }

  .header h1 {
      margin: 0;
  }

  .header ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
  }

  .header li {
      display: inline-block;
      margin-left: 10px;
  }
  main{
    color: white;
    margin: 50px;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    padding-left: 2%;
  }
  h1{
    padding-left:40%;
  }
  </style>